<br>
<div class="row">
  <div class="col-xs-12">
    <form>

        <div class="row">
        <div class="col-sm-5 form-group">
            <label for="BookName">Book Name</label>
            <input type="text" id="Bookname" class="form-control">
        </div>
        <div class="col-sm-3 form-group">
                <label for="AuthorName">Author Name</label>
                <input type="text" id="AuthorName" class="form-control">
            </div>
        <div class="col-sm-4">
            <label for="HotCold">Perfered coffee temprature (in degree Celcius)</label>
            <input type="number" id class="form-control">
        </div>
    </div>

    <div class="row">
        <div class="col-md-3">
        <span class="center-block"><button class="btn btn-success ">Add Drink</button></span>
        </div>
        <div class="col-md-3  col-md-offset-1">
        <span class="center-block"><button class="btn btn-danger">Delete Drink</button></span>
        </div>
        <div class="col-md-3  col-md-offset-2">
        <span class="center-block"><button class="btn btn-warning">Clear Drink</button></span>
        </div> 
    </div>

        </form>
    </div>
</div>
<br>