<div class="row">
    <div class="col-xs-12">
        <h2>American Coffee</h2>
    </div>
</div>
<hr>
<div class="row">
    <div class="col-xs-12">
        <span class="pull-left"><p class="lead">This is a good cup of coffee :)</p></span>
        <span class="pull-right"><img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSNWMWgzVVLQ0-LzdzATA9lF2jaX4sQtknWrY4zYLN5C3B0JxyuaQ" class="img-responsive"></span>
    </div>
</div>
<br>
<div class="row">
<div class="col-xs-6">
    <div class="well">
            <h3>Ingredients</h3>
            <ul>
                <li>2 table spoons of coffee</li>
                <li>2 cups of water</li>
             </ul>
    </div>
</div>
<div class="col-xs-6">
    <div class="well">
        <h3 >Directions</h3>
        <p>To prepare this cup of coffee you have to be extremly awesome.And wear a great simle :)</p>
    </div>
</div>
</div>
<div class="row">
    <div class="col-md-3 col-md-offset-2">
    <span class="center-block"><button type="button" href="#" class="btn btn-warning btn-lg">Edit Recipe</button></span>
</div>
<div class="col-md-3 col-md-offset-3">
    <span class="clearfix"><button type="button" href="" class="btn btn-danger btn-lg">Delete Recipe</button></span>
</div>
</div>